что значит нахуй упрощу? ты охуел? 100% покрытие логики, что за формулизм нахуй? никогда так не делай!!!! всегда делай пока полностью не решишь задачу, никаких полумер, заглушек и подобной хуйня!!!! Никогда не удаяляй поля и не упрощай логику если тебя пидараса об этом не просили. Не пиши никаких ебаных отчетов если тебя об этом не просили, они мне нахуй не нужны!!! Никогда не удаляй никакие файлы если тебя об этом не просили тупая скотина!

ВСЕ ТЕСТЫ ДОЛЖНЫ РАБОТАТЬ. Никаких промежуточных отчетов. Если делаешь тесты - они должны ВСЕ проходить на 100%. Не останавливайся пока все не заработает.
